.top-box {
    .title {
        margin-top: .08rem;
        display: flex;
        justify-content: space-around;
    }

    span {
        font-size: .22rem;
        font-weight: bold;
    }

    input {
        width: 2.64rem;
        background: #fff url(../images/icon-search.jpg ) no-repeat 0;
        padding-left: .2rem;
        border-radius: .2rem;
    }

    .goods {
        display: flex;
        justify-content: space-around;
        margin: .15rem 0 .17rem 0;
        font-size: .11rem;
        color: #333;

        li {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 0.4rem;
                height: 0.4rem;
                margin-bottom: .04rem;
            }

        }

        .active>img {
            transform: scale(1.2);
            border: .01rem solid #6191fa;
            border-radius: 50%;
        }

        .active>div {
            background-color: #6191fa;
            color: #fff;
            border-radius: 0.06rem;
        }
    }

    .more-tab {
        position: absolute;
        top: .53rem;
        right: 0;
        background-color: #f6f7fa;
        width: .44rem;
        height: .74rem;
        font-size: .11rem;
        align-items: center;
        text-align: center;
        color: #333;

        img {
            width: .11rem;
            height: .11rem;
        }
    }

}

.grid {
    display: flex;

    .grid-group {
        width: 22.7%;
        padding-left: 0.03rem;

        >li {
            width: 0.88rem;
            display: flex;
            height: 0.49rem;
            justify-content: center;
            align-items: center;
            font-size: .13rem;
        }
        .active{
            color: #6191fa;
            position: relative;
            background-color: #fff;
        }
        .active::before{
            color: #6191fa;
            content: "";
            height: 50%;
            width: .05rem;
            background: #6191fa;
            border-radius: 0 .03rem .03rem 0 ;
            position: absolute;
            left: -0.03rem;
            top: 25%;
        }

    }

    .grid-wapper {
        width: 77.3%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        >img {
            width: 2.66rem;
            height: 0.86rem;
            overflow: clip;
        }

        .grid-item {
            width: 2.66rem;
            padding: 8px;

            >img {
                width: 0.84rem;
                height: 0.84rem;
                float: left;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin-left: .95rem;

                li:nth-child(1) {
                    font-size: .14rem;
                    width: 1.71rem;
                }

                li:nth-child(2) {
                    font-size: .11rem;
                    color: #999;
                }

                li:nth-child(3) {
                    font-size: .09rem;
                    width: .26rem;
                    color: #f99539;
                    border: 1px solid #f8d289;
                    background-color: #fff2d7;
                }

                li:nth-child(4) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        font-size: .18rem;
                        color: #e34949;
                    }

                    span {
                        font-size: .10rem;
                        color: #999;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

.cart {
    width: .32rem;
    height: .32rem;
    background: #6191fa url(../images/icon-cart.png) no-repeat 0.06rem 0.06rem;
    background-size: .18rem;
    border-radius: 50%;
}